<a href="https://colab.research.google.com/github/Celsius1313/AdvancedAnalyticsML01/blob/main/ML_Project_Loan_Prediction_Celsio_Cosme.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Problem Statement

### Context

AllLife Bank is a US bank that has a growing customer base. The majority of these customers are liability customers (depositors) with varying sizes of deposits. The number of customers who are also borrowers (asset customers) is quite small, and the bank is interested in expanding this base rapidly to bring in more loan business and in the process, earn more through the interest on loans. In particular, the management wants to explore ways of converting its liability customers to personal loan customers (while retaining them as depositors).

A campaign that the bank ran last year for liability customers showed a healthy conversion rate of over 9% success. This has encouraged the retail marketing department to devise campaigns with better target marketing to increase the success ratio.

You as a Data scientist at AllLife bank have to build a model that will help the marketing department to identify the potential customers who have a higher probability of purchasing the loan.

### Objective

To predict whether a liability customer will buy personal loans, to understand which customer attributes are most significant in driving purchases, and identify which segment of customers to target more.

### Data Dictionary
* `ID`: Customer ID
* `Age`: Customerâ€™s age in completed years
* `Experience`: #years of professional experience
* `Income`: Annual income of the customer (in thousand dollars)
* `ZIP Code`: Home Address ZIP code.
* `Family`: the Family size of the customer
* `CCAvg`: Average spending on credit cards per month (in thousand dollars)
* `Education`: Education Level. 1: Undergrad; 2: Graduate;3: Advanced/Professional
* `Mortgage`: Value of house mortgage if any. (in thousand dollars)
* `Personal_Loan`: Did this customer accept the personal loan offered in the last campaign? (0: No, 1: Yes)
* `Securities_Account`: Does the customer have securities account with the bank? (0: No, 1: Yes)
* `CD_Account`: Does the customer have a certificate of deposit (CD) account with the bank? (0: No, 1: Yes)
* `Online`: Do customers use internet banking facilities? (0: No, 1: Yes)
* `CreditCard`: Does the customer use a credit card issued by any other Bank (excluding All life Bank)? (0: No, 1: Yes)

## Importing necessary libraries

In [ ]:
# Installing the libraries with the specified version.
# !pip install numpy==1.25.2 pandas==1.5.3 matplotlib==3.7.1 seaborn==0.13.1 scikit-learn==1.2.2 sklearn-pandas==2.2.0 -q --user

**Note**:

1. After running the above cell, kindly restart the notebook kernel (for Jupyter Notebook) or runtime (for Google Colab), write the relevant code for the project from the next cell, and run all cells sequentially from the next cell.

2. On executing the above line of code, you might see a warning regarding package dependencies. This error message can be ignored as the above code ensures that all necessary libraries and their dependencies are maintained to successfully execute the code in this notebook.

In [ ]:
import pandas as pd                                                                                     # Dataset manipulations
import numpy as np                                                                                      # Numbers Dataset Manipulations
import matplotlib.pyplot as plt                                                                         # Visual Ploting
import seaborn as sns                                                                                   # Statistical Plots
from sklearn.model_selection import train_test_split, GridSearchCV                                      # Train and Test selection, Pre and Post Pruning
from sklearn.tree import DecisionTreeClassifier, plot_tree                                              # Model Selection, Ploting the tree
from sklearn.metrics import confusion_matrix, f1_score, recall_score, precision_score, accuracy_score   # Evaluation Metrics

## Loading the dataset

In [ ]:
df = pd.read_csv(r"C:\Users\P4773\Documents\Desktop_Folder_CelsioCosme_Work\McCOMBS UNIVERSITY OF TEXAS -- PGP - AIML\HANDS-ON PROJECTS\MACHINE LEARNING PROJECT\PERSONAL LOAN CAMPAIGN - PREDICTION\Loan_Modelling.csv")
df

        ID  Age  Experience  ...  CD_Account  Online  CreditCard
0        1   25           1  ...           0       0           0
1        2   45          19  ...           0       0           0
2        3   39          15  ...           0       0           0
3        4   35           9  ...           0       0           0
4        5   35           8  ...           0       0           1
...    ...  ...         ...  ...         ...     ...         ...
4995  4996   29           3  ...           0       1           0
4996  4997   30           4  ...           0       1           0
4997  4998   63          39  ...           0       0           0
4998  4999   65          40  ...           0       1           0
4999  5000   28           4  ...           0       1           1

[5000 rows x 14 columns]

## Data Overview

* Observations
* Sanity checks

In [ ]:
df[::1000]

        ID  Age  Experience  ...  CD_Account  Online  CreditCard
0        1   25           1  ...           0       0           0
1000  1001   59          35  ...           0       0           0
2000  2001   28           2  ...           0       1           0
3000  3001   40          14  ...           0       0           0
4000  4001   62          37  ...           1       1           1

[5 rows x 14 columns]

In [ ]:
df.head(7)

   ID  Age  Experience  ...  CD_Account  Online  CreditCard
0   1   25           1  ...           0       0           0
1   2   45          19  ...           0       0           0
2   3   39          15  ...           0       0           0
3   4   35           9  ...           0       0           0
4   5   35           8  ...           0       0           1
5   6   37          13  ...           0       1           0
6   7   53          27  ...           0       1           0

[7 rows x 14 columns]

In [ ]:
df.tail(7)

        ID  Age  Experience  ...  CD_Account  Online  CreditCard
4993  4994   45          21  ...           0       1           0
4994  4995   64          40  ...           0       1           0
4995  4996   29           3  ...           0       1           0
4996  4997   30           4  ...           0       1           0
4997  4998   63          39  ...           0       0           0
4998  4999   65          40  ...           0       1           0
4999  5000   28           4  ...           0       1           1

[7 rows x 14 columns]

In [ ]:
print("The dataset have ", df.shape[0], " rows and ", df.shape[1], " columns.", sep="")

The dataset have 5000 rows and 14 columns.

#### **Observations**
- The Dataset have:
    * 5.000 rows;
    * 14 columns.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIPCode             5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal_Loan       5000 non-null   int64
 10  Securities_Account  5000 non-null   int64
 11  CD_Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

#### **Observations:**
* We have 2 data types: **int64** and **float64**
* Were **13 columns** are **int64** type and **1 column** is **float64** type.

In [ ]:
print("***** Checking 'Null' values *****", df.isnull().sum(), sep="\n")
print("\n")
print("***** Checking 'NA' values *****", df.isna().sum(), sep="\n")

***** Checking 'Null' values *****
ID                    0
Age                   0
Experience            0
Income                0
ZIPCode               0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal_Loan         0
Securities_Account    0
CD_Account            0
Online                0
CreditCard            0
dtype: int64


***** Checking 'NA' values *****
ID                    0
Age                   0
Experience            0
Income                0
ZIPCode               0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal_Loan         0
Securities_Account    0
CD_Account            0
Online                0
CreditCard            0
dtype: int64

#### **Observations:**
* We have no **'NA'** ou **'NULL'** values in the dataset, can consider as a clean dataset

In [ ]:
df.describe().T

                     count          mean  ...       75%      max
ID                  5000.0   2500.500000  ...   3750.25   5000.0
Age                 5000.0     45.338400  ...     55.00     67.0
Experience          5000.0     20.104600  ...     30.00     43.0
Income              5000.0     73.774200  ...     98.00    224.0
ZIPCode             5000.0  93169.257000  ...  94608.00  96651.0
Family              5000.0      2.396400  ...      3.00      4.0
CCAvg               5000.0      1.937938  ...      2.50     10.0
Education           5000.0      1.881000  ...      3.00      3.0
Mortgage            5000.0     56.498800  ...    101.00    635.0
Personal_Loan       5000.0      0.096000  ...      0.00      1.0
Securities_Account  5000.0      0.104400  ...      0.00      1.0
CD_Account          5000.0      0.060400  ...      0.00      1.0
Online              5000.0      0.596800  ...      1.00      1.0
CreditCard          5000.0      0.294000  ...      1.00      1.0

[14 rows x 8 columns]

## Exploratory Data Analysis.

- EDA is an important part of any project involving data.
- It is important to investigate and understand the data better before building a model with it.
- A few questions have been mentioned below which will help you approach the analysis in the right manner and generate insights from the data.
- A thorough analysis of the data, in addition to the questions mentioned below, should be done.

**Questions**:

1. What is the distribution of mortgage attribute? Are there any noticeable patterns or outliers in the distribution?
2. How many customers have credit cards?
3. What are the attributes that have a strong correlation with the target attribute (personal loan)?
4. How does a customer's interest in purchasing a loan vary with their age?
5. How does a customer's interest in purchasing a loan vary with their education?

## Data Preprocessing

* Missing value treatment
* Feature engineering (if needed)
* Outlier detection and treatment (if needed)
* Preparing data for modeling
* Any other preprocessing steps (if needed)

## Model Building

### Model Evaluation Criterion

*

### Model Building

## Model Performance Improvement

## Model Performance Comparison and Final Model Selection

## Actionable Insights and Business Recommendations

* What recommedations would you suggest to the bank?

___